<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your HTML Page</title>
  <link rel="stylesheet" href="/css/index.css">
  <style>
    body {
      margin: 0;
      padding: 0;
      background-image: url('../img/hi.jpg'); 
    background-blend-mode: darken;
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat; 
      height: 100vh; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: #100101; 
      font-family: Arial, sans-serif; 
     
    }


  </style>
</head>
<body>
    <div class="left">
        <h1 id="try1" class="animate__animate animate__tada ">OCR</h1>
        <!-- <h1>Convert Your </h1>  <h2>Productive</h2> -->
        <p>Convert Your Images into Text.</p>
        <button onclick="location.href='/upload'">Get Started</button>
    </div>
    
</div>
</body>
</html>
